@page
<div>
    <input type="button" id="joinGroup" value="Join Private Group" />
</div>

<textarea name="message" id="message"></textarea>
<select id="group">
    <option value="All">Everyone</option>
    <option value="Myself">Myself</option>
    <option value="PrivateGroup">Private Group</option>
</select>
<input type="button" id="sendButton" value="Send Message"/>

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>